@import "tailwindcss";
@theme {
  --color-pastel-beige: #F7F3EE;
  --color-dark-yellow: #ad7a13;
  --color-dark-brown: #8B5E3C;
}

.nav-link {
  @apply inline-block px-7 py-1 rounded-full border-2 border-transparent;
}

.nav-link.active {
  @apply text-dark-yellow bg-gray-200 border-gray-300 shadow-sm;
  animation: bounceText 0.3s ease-in-out;
}

@keyframes bounceText {
  0% { transform: scale(1);}
  50% { transform: scale(1.1);}
  100% { transform: scale(1);}
}



/* :root {
transition-transform duration-300 scale-105

.nav-link {
  @apply inline-block px-5 py-1 rounded-full border-2 border-transparent text-gray-600 bg-gray-400;
}

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
