@import "tailwindcss";
@theme {
  --color-pastel-beige: #f3f4f6;
  --color-dark-beige: #25221e;
  --color-dark-yellow: #ad7a13;
  --color-dark-brown: #8b5e3c;
  --color-darktheme: #2f2f2f;
}

/*colore sfondo tendente giallo-celeste*/
/*inserire .valink su app con tailwind*/
.nav-link {
  @apply inline-block px-5 py-1 md:px-7 md:py-1 rounded-full border-2 border-transparent;
}

.nav-link.active {
  @apply text-dark-yellow bg-gray-200 border-gray-300 shadow-sm;
  animation: bounceText 0.3s ease-in-out;
}

html,
body {
  @apply bg-gradient-to-b from-[#fcfaf8] via-[#f3e9dd] to-[#fcefe1];
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/*
dark mode
<div className="min-h-screen 
  bg-gradient-to-b from-[#f7f3ee] to-[#efe2d3]
  dark:from-[#0f172a] dark:to-[#020617]
">*/

@keyframes bounceText {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

html,
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
